:root {
  --main-color: #024486ec;
  --second-color: #f0f8ff;
}
/* #024386 */
a {
  text-decoration: none;
  color: white;
}
body {
  direction: rtl;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
}
.navbar > .container-fluid {
  background-color: white;
}

.rtl {
  direction: rtl;
}
.navbar-collapse {
  background-color: white;
}
.nav-custom {
  background-color: white !important;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--second-color) !important;
  height: 8%;
  margin: 0px;
  box-shadow: none;
  z-index: 555;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bars-icon {
  color: orange;
}
.nav-link {
  color: var(--main-color) !important;
}
.nav-link:hover {
  color: orange !important;
}
/* .navbar-toggler {
	margin-top: -10px;
	padding-top: 0px !important;
} */

.navbar-brand {
  direction: ltr;
  /* justify-self: center; */
  position: absolute;
  right: 0px !important;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  /* background-color: var(--main-color); */
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  /* background-color:var(--main-color); */
}
.logo {
  width: 50%;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-top: 15px;
}

/* .navbar-toggler {
  background-color: black ;
} */

.secondBlock {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  background-color: white;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 10px grey;
  padding: 40px 20px;
  margin-top: -100px;
  z-index: 2;
}
.secondBlock  h2{
	color:orange;
	font-weight: 800;
}

.blockIcon {
  color: var(--main-color);
  margin-bottom: 10px;
}

#myBtn{
	padding: 1px 9px;
	font-size: 25px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	justify-content: center;
	/* box-shadow: 0px 0px 1px var(--main-color); */
	position: fixed;
	bottom:150px;border:none;
	right:8%;
	width: 35px;
	height: 40px;
}
#footer{
	/* position: absolute; */
	margin-top: 150px;
	bottom: 0;
	width: 100%;
	background-color: var(--main-color);
	opacity: 1;
	z-index: 0;
}
.active {
}

#header-section {
  position: relative;
  height: 600px;
  color: white;
  overflow: hidden;
}

#header-block {
  position: absolute;
  background-image: url("../assests/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 85px;
}

/* #header-block:before {
  position: absolute;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 0;
} */

.headerTextBlock {
  position: relative;
  z-index: 1;
  /* margin-right: 200px; */
  margin-top: 150px;
}

.headerText {
  font-size: 40px;
}
#myBtn {
  padding: 1px 9px;
  font-size: 25px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  justify-content: center;
  /* box-shadow: 0px 0px 1px var(--main-color); */
}
