:root {
  --main-color: #024486ec;
  --second-color: #f0f8ff;
}
/* #024386 */
body {
  direction: rtl;
  font-family: "Roboto", sans-serif;
}

.rtl {
  direction: rtl;
}

.nav-custom {
  background-color: var(--main-color) !important;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--second-color) !important;
  height: 6%;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: var(--second-color) !important;
}

/* .navbar-toggler {
	margin-top: -10px;
	padding-top: 0px !important;
} */

.navbar-brand {
  direction: ltr;
  /* justify-self: center; */
  position: absolute;
  left: 0px !important;
}

.logo {
  width: 30%;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-top: 15px;
}

.navbar-toggler {
  background-color: var(--second-color);
}

.logos-section {
  padding-top: 210px;
}

.logos-section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.carousel-app {
  margin: auto;
  width: 500px;
  height: 500px;
  z-index: 400;
}
.modal-app {
  width: 500px;
  height: 500px;
  /* background: red; */
}
